/*
* @Author: ZX
* @Date:   2018-08-13 08:40:12
* @Last Modified by:   ZX
* @Last Modified time: 2018-08-16 23:13:29
*/
/* 公共样式：小小屏/col-xs- <768px */
/* 顶部导航开始 */
nav{
	width: 100%;
	height:59px; 
	background: #212A3F;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
nav .con{
	width: 100%;
	height:100%;
	display: flex;
	justify-content: space-between;
}
nav .con h4{
	color: #fa3447;
	font-size: 30px;
	line-height: 60px;
	margin: 0;
}
nav .con h4:hover{
	color: #fff;
	cursor: pointer;
}
nav .con .list a{
	color: #fff;
	font-size: 14px;
	line-height: 60px;
	margin-left: 15px;
}
nav .con .list a.list-icon{
	text-decoration: none;
	font-size: 30px;
}
nav .con .list a.list-text{
	color: #999;
}
nav .con .list a.list-first{
	display: none;
}
nav .con .list a.list-text{
	display: none;
}
.banner{
	width: 100%;
	height:670px;
	background-image: url('../img/bg.png') ;
	margin-top: 60px;
	background-position: center;
	background-size: cover;
	/* 当屏幕滚动时背景图片固定 */
	background-attachment: fixed;
}
.banner .banner-box{
	background-color: rgba(0, 0, 0,0.6);
	margin-top: 175px;
	padding: 0 40px;
	text-align: center;
	color: #fff;
}
.banner .banner-box .text1{
	padding-top: 15px;
	padding-bottom: 15px;	
	font-size: 22px;	
}
.banner .banner-box .text2{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 40px;
	/* 双边框 */
	border-top: 7px double #fa3447;
	border-bottom: 7px double #fa3447;
}
.banner .banner-box .text3{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;	
}
.banner .banner-box .text4{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 14px;
	margin-bottom: -20px;	
}
.banner .banner-box .text5 a{
	line-height: 80px;
	border: 1px solid #fff;	
	font-size: 22px;
	margin: 0 auto ;
	font-size: 13px;	
	background: rgba(255, 255, 255, 0.1);
	padding: 8px 14px;
	color: #fff;	
}
.banner .banner-box .text5 a:hover{
	background: rgba(255, 255, 255, 0.3);
	text-decoration: none;
/* 	color: #fff; */
}

/* 文字部分开始*/
.word{
	padding: 40px 0;
}
.word .title{
	font-size: 29px;
	text-align: center;
	color: #8AB839;
}
.word .text{
	padding:0  ;
	font-size: 15px;
	color: #2E2E2E;
}
.word .text p{
	width: 75%;
	margin: 0 auto;
	text-align: justify;
}
/* 文字部分结束 */

/* features开始*/
.features{
	width: 100%;
	background-color: #8AB839;
	padding: 60px 0;
}
.features .title{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align:center;
	font-size: 30px; 
	font-weight: 700;
	letter-spacing: 5px;
	margin-top: 30px;
}
.features .title::after{
	content: "";
	display: block;
	width: 80px;
	height: 1px;
	margin: 17px auto 0;
	background-color: #fff;
}
.features ul li .icon{
	padding:0;
	margin-top: 30px;
}
.features ul li .icon i{
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 80px;
	border: 1px solid #fff;
	border-radius: 50%;
	font-size: 35px;
	color: #fff;
	text-align: center;
	line-height: 80px;
	background-color: rgba(255, 255, 255, 0.1);
}
.features ul li .con h3{
	margin: 0;
	font-size: 25px;
	color: #2e2e2e;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}
.features ul li .con p{
	padding: 0 30px;
	text-align: center;
	font-size: 15px;
	color:#2e2e2e; 
	margin-bottom: 10px;
	
}
/* features结束*/

/* portfolio开始 */
.portfolio{
	width: 100%;
	background-color: #fff;
	padding-top: 60px;
}
.portfolio .title{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align:center;
	font-size: 30px; 
	font-weight: 700;
	letter-spacing: 5px;
	margin-top: 30px;
}
.portfolio .title::after{
	content: "";
	display: block;
	width: 80px;
	height: 1px;
	margin: 17px auto 0;
	background-color: #8ab839;
}
.portfolio ul li{
	margin: 20px 0;
	padding: 0;
	position: relative;
}
.portfolio ul li img{
	display: block;
	margin-top: 20px 0;
	width: 100%;
	height: 200px;
}
.portfolio ul li .cover{
	width: 100%;
	height: 0;
	background-color: rgba(255, 255, 255, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	transition: height .5s;

}
.portfolio ul li a:hover{
	text-decoration: none;
}
.portfolio ul li:hover .cover{
	height: 200px;
}
.portfolio ul li h3{
	background-color:#8ab839;
	font-size: 15px;
	color: #fff;
	text-align: center;
	padding: 15px 0;
	margin: 0; 
}
/* portfolio结束 */

/* 图标开始 */
.tag{
	width: 100%;
	background-color: rgba(33, 42, 63, 1);
	padding-top: 60px;
	padding-bottom: 50px;
}
.tag ul li .icon{
	text-align: center;
}
.tag ul li .icon i{
	margin-top: 20px;
	font-size:25px;
	color: #8ab839;	
}
.tag ul li .icon i.icon-console{
	font-size: 40px;
	line-height: 30px;
}
.tag ul li .icon h3{
	font-size: 12px;
	letter-spacing: 2px;
	text-align: center;
	color: #fff;
	margin: 0;
	margin-bottom: 20px;
	font-weight: 700;
}



.contact{
	width: 100%;
	background-color: #fff;
	padding-top: 60px;
}
.contact .title{
	padding-top: 15px;
	padding-bottom: 15px;
	text-align:center;
	font-size: 30px; 
	font-weight: 700;
	letter-spacing: 5px;
	margin-top: 30px;
	margin-bottom: 40px;
}
.contact .title::after{
	content: "";
	display: block;
	width: 80px;
	height: 1px;
	margin: 17px auto 0;
	background-color: #8ab839;
}
.contact .address{
	font-size: 20px;
	color:#333; 
}
.contact .address span{
	font-size: 12px;
	color: #333;
}
.contact .address span i{
	color: #8ab839;
	font-size: 12px;
}
.contact .tel{
	font-size: 12px;
	color: #333;
	line-height: 12px;
}
.contact .tel i{
	color:#8ab839; 
}
/* 底部开始 */
footer{
	width: 100%;
	height: 270px;
	background:repeating-linear-gradient(to right top,#353C4D,#242B3E);
	padding: 40px 0;
}
footer .text{
	font-size: 20px;
	color: #fff;
	text-align: justify;
}
footer .read{
	width: 150px;
	height: 60px;
	background-color: #8ab839;
	border-radius:20px; 
	font-size: 20px;
	color:#fff;
	text-align: center;
	line-height: 60px;
	margin: 150px auto 0;
}
footer .read:hover{
	background: rgba(255, 255, 255, 0.6);
}






/* 平板：小屏幕 col-sm- >768px */
@media screen and (min-width: 768px){
	nav .con .list a.list-text{
		display: inline;
	}
	nav .con .list a.list-first{
		display: inline;
	}
	nav .con .list a.list-icon{
		display: none;
	}
	nav .con .list a.list-text{
	color: #999;
	}
	nav .con .list a.list-first:hover{
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	}
	nav .con .list a.list-text:hover{
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	}
	nav .con h4:hover{
	color: #fa3447;
	}
	.banner .banner-box .text1{	
		font-size: 22px;	
	}
	.banner .banner-box .text2{
		font-size: 40px;
	}
	.banner .banner-box .text3{
		font-size: 16px;	
	}
	.banner .banner-box .text4{
		font-size: 14px;
	}
	.banner .banner-box .text5 a{
		font-size: 22px;
	}
	.features ul li .con h3{
		text-align: left;
	}
	.features ul li .con p{
		text-align: left;
		padding: 0;
		
	}
	.word .text p{
	text-align: center;
	}
	.portfolio ul li img{
		width: 100%;
		height: 200px;
	}
	footer .read{
	margin: 100px auto 0;
	}
}




/* 普通PC端：中等屏幕 col-md- >992px */
@media screen and (min-width: 992px){
	nav .con h4:hover{
	color: #fff;
	}
}

/* 大屏幕PC：大屏幕 col-lg- >1200px */
@media screen and (min-width: 1200px){

}